<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Breakout App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9885B1891EFAE09800F54196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9885B1A31EFAE09800F54196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9885B1AE1EFAE09800F54196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
